.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
}

.leftContent {
  width: 60%;
}

.message {
  font-size: 14px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rightContent {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subject {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dropdown Styling */
.dropdown {
  padding: 6px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* Status Colors */
.masuk {
  background: #9e9e9e;
  color: white;
}

.ongoing {
  background: #ffca28;
  color: black;
}

.selesai {
  background: #4caf50;
  color: white;
}
